* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Coolvetica", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

main {
  background-color: black;
}

.ediciones__titulo {
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2rem;
  text-align: center;
}

.playlist {
  background-image: url(../img/spotyt.jpeg);
  background-position: center;
  background-size: cover;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playlist__titulo {
  font-size: 2rem;
  background-color: rgba(146, 42, 42, 0.3294117647);
  color: white;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.playlist__logo {
  font-size: 3rem;
  color: white;
  border-radius: 10px;
}

.info {
  background-color: white;
  align-items: center;
  text-align: center;
  padding: 0px;
}
.info h2 {
  font-size: 3rem;
  padding: 15px;
  background-color: black;
  color: white;
}
.info h3 {
  font-size: 1.5rem;
  padding: 15px;
}
.info p {
  padding-bottom: 15px;
  font-size: 1rem;
}

.lineup {
  background-color: black;
  padding-top: 15px;
}
.lineup h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
}
.lineup h3 {
  text-align: center;
  font-size: 2rem;
  color: #922a2a;
  padding-bottom: 5px;
}
.lineup__slider {
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: auto;
  background-color: black;
}
@media (min-width: 768px) {
  .lineup__slider {
    justify-content: center;
  }
}

.sponsors {
  background-image: url(../img/degradadi.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 150px;
}
.sponsors__auspicia {
  align-items: center;
  text-align: center;
}
.sponsors__auspicia--titulo {
  text-align: center;
  font-size: 3rem;
  padding-top: 15px;
  transition: 1s all ease-in;
}
.sponsors__auspicia--img {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  transition-duration: 1s;
  padding: 5px;
}
.sponsors__auspicia--img:hover {
  transform: rotate(360deg);
}

.tickets {
  background-color: black;
  padding-top: 20px;
  padding: 0%;
}
.tickets__titulo {
  text-align: center;
  padding: 15px;
  font-size: 3rem;
  color: white;
}
.tickets__tipos {
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  color: black;
  margin-top: 20px;
}
.tickets__tipos p {
  text-align: justify;
  font-size: 1rem;
  padding-bottom: 10px;
}
.tickets__tipos--img {
  width: 85vw;
  height: 30vh;
  object-fit: contain;
}
@media (min-width: 768px) {
  .tickets {
    display: flex;
    flex-direction: column;
  }
  .tickets___tipos--img {
    width: 90vw;
    height: 60vh;
    object-fit: contain;
  }
  .tickets__tipos p {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 10px;
  }
}

footer {
  bottom: 0;
}

.btn {
  border: 2px solid #922a2a;
  background-color: #922a2a;
  color: white;
  border-radius: 50px;
}
.btn:hover {
  border: 2px solid #922a2a;
  background-color: white;
  color: black;
}

.btn__comprar {
  border: 2px solid #922a2a;
  background-color: #922a2a;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 1rem;
}
.btn__comprar:hover {
  border: 2px solid #922a2a;
  background-color: white;
  color: #922a2a;
}

.portada {
  background-image: url(../img/portadareju.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.portada__texto {
  text-align: center;
  font-size: 2rem;
  padding: 15px;
  border-radius: 20px;
  color: white;
}

.tarjetadj {
  border: 5px solid #922a2a;
  background-color: white;
  width: 300px;
  height: 700px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.tarjetadj__img {
  border-radius: 15px;
}
.tarjetadj__descripcion {
  font-size: 1rem;
  width: 200px;
  height: 200px;
  text-align: justify;
  padding-top: 5px;
}
.tarjetadj__redes {
  display: flex;
  font-size: 1rem;
  gap: 6px;
  justify-content: space-around;
}
.tarjetadj__redes i {
  color: #922a2a;
}

/*# sourceMappingURL=styles.css.map */
