.info{
    background-color: $color-secundario;
    align-items: center;
    text-align: center;
    padding: 0px; 

    h2{
        font-size: 3rem;
        padding: 15px;  background-color: $color-primario;
        color: $color-secundario;   
    }

    h3{
        font-size: 1.5rem;
        padding: 15px; 
    }

    p{
        padding-bottom: 15px;
        font-size: 1rem;  
    }

    
}